.global-container {
  &.s2 {
    svg{
      fill: #1e83a7;
    }
  }
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7 {
  .num {
    color: #fff;
    font-size: 2.333334rem;
    line-height: 1;
  }
  .text-top {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.2rem;
    margin-top: 1.6rem;
    color: #fff;
  }
  .text-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1.2rem;
    margin-bottom: 1.33333rem;
    color: #fff;
    .small {
      display: block;
      font-size: 0.2rem;
    }
  }
}

// 第一个页面
.p1 {
  background-color: #95bb1d;
  &.in, &.swiper-slide-active {
    .slogon {
      animation: fadeInUp .5s .3s both;
    }
  }
  .light, .slogon {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .light {
    margin-left: -3.86667rem;
    margin-top: -5.2rem;
    width: 7.73333rem;
    height: 10.49333rem;
    background: url(../images/p1-light.png) no-repeat 0 0;
    background-size: 100% auto;
    animation: p1-light-anim .8s .6s both;
  }
  .slogon {
    width: 2.74667rem;
    height: 2.44rem;
    background-image: url(../images/sprite.text.png);
    background-position: -5.38667rem 0;
    text-indent: -133.32rem;
    margin-left: -1.37333rem;
    margin-top: -1.68rem;
    -webkit-background-size: 51.58667rem 2.44rem;
    background-size: 51.58667rem 2.44rem;
  }
}

// 第二个页面
.p2 {
  .bg, .light {
    position: absolute;
    left: 0
  }
  .bg {
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg-scene.jpg) no-repeat bottom;
    -webkit-background-size: 100% auto;
    background-size: 100% auto
  }
  .light {
    bottom: 0;
    margin-bottom: -1.6rem;
    margin-left: -.53333rem;
    width: 8.70667rem;
    height: 15.14667rem;
    background: url(../images/light-scene-01.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto
  }
  .text-top {
    width: 6rem;
    height: .56rem;
    margin-top: 4.26667rem;
  }
  .text-bottom {
    width: 8rem;
    height: 1.85333rem;
    color: #fff;
    font-size: 0.64rem;
  }
  .num {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.06667rem;
    margin-top: 1.06667rem
  }
}

// 第三个页面
.p3 {
  background-color: #f2444f;
  .light-1, .light-2 {
    position: absolute;
    bottom: 0;
    left: 0
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg-scene-02.jpg) no-repeat bottom;
    -webkit-background-size: 100% auto;
    background-size: 100% auto
  }
  .light-1 {
    margin-bottom: 4.26667rem;
    margin-left: -1.06667rem;
    width: 6.8rem;
    height: 3.53333rem;
    background: url(../images/light-scene-02-2.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto
  }
  .light-2 {
    margin-bottom: 3.2rem;
    margin-left: -1.33333rem;
    width: 14.76rem;
    height: 7.66667rem;
    background: url(../images/light-scene-02-1.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto
  }
  .text-top {
    width: 5rem;
    height: .54667rem;
    margin-top: 4.26667rem
  }
  .text-bottom {
    width: 8rem;
    height: 2.26667rem;
    font-size: 0.5rem;
    margin-bottom: 1rem;
  }
  .num {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.06667rem;
    margin-top: 1.06667rem
  }
}

// 第四个页面
.p4 {
  background-color: #343a40;
  &.swiper-slide-next, &.swiper-slide-prev {
    .cube-1,
    .cube-2,
    .cube-3,
    .logo-ran,
    .text-slogon,
    .text-title {
      display: none;
    }
  }
  &.in, &.swiper-slide-active {
    .cube-1,
    .cube-2,
    .cube-3,
    .logo-ran,
    .text-slogon,
    .text-title {
      display: block!important;
    }
    .logo-ran {
      animation: fadeInRight .5s .3s both;
    }
    .text-slogon {
      animation: fadeInRight .5s .4s both;
    }
    .cube-1 {
      animation: fadeInRight .5s .5s both;
    }
    .text-title {
      animation: fadeInRight .5s .5s both;
    }
    .text-detail {
      animation: fadeInRight .5s .7s both;
    }
  }
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../images/bg-scene-02.png");
  }
  .logo-ran, .text-slogon {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -133.32rem;
    margin-left: .85333rem;
  }
  .logo-ran {
    width: 1.90667rem;
    height: 1.73333rem;
    background-image: url(../images/sprite.other.png);
    background-position: -3.02667rem 0;
    margin-top: 1.6rem;
    -webkit-background-size: 14.56rem 4.64rem;
    background-size: 14.56rem 4.64rem;
  }
  .text-slogon {
    width: 5.73333rem;
    height: 1.97333rem;
    background-image: url(../images/sprite.text.png);
    background-position: -31.73333rem 0;
    margin-top: 5.65333rem;
    -webkit-background-size: 51.58667rem 2.44rem;
    background-size: 51.58667rem 2.44rem;
  }
  .cube-1, .logo-jd {
    position: absolute;
    left: 0;
    margin-left: .85333rem;
  }
  .cube-1 {
    top: 0;
    margin-top: 8.85333rem;
    width: 1.06667rem;
    height: .22667rem;
    background-image: linear-gradient(90deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
    margin-left: .85333rem;
    span {
      display: inline-block;
      width: .22667rem;
      height: 100%;
      background-color: #fff;
    }
  }
  .cube-2,
  .cube-3 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12.26667rem;
    margin-right: 2.66667rem;
    width: 5.33333rem;
    height: 1.2rem;
    background-image: linear-gradient(-90deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,0));
    span {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -.36rem;
      margin-right: -.36rem;
      width: .70667rem;
      height: .70667rem;
      background-color: #fff;
      transform: rotate(51deg) skew(20deg);
    }
  }
  .cube-2 {
    transform: rotate(-45deg) translate3d(3.06667rem,0,0);
    animation: cube-1-anim .8s .8s both;
  }
  .cube-3 {
    margin-top: 14.13333rem;
    margin-right: 2.66667rem;
    -webkit-transform: rotate(-45deg) translate3d(1.6rem,0,0) scale(.8);
    transform: rotate(-45deg) translate3d(1.6rem,0,0) scale(.8);
    -webkit-animation: cube-2-anim .8s .8s both;
    animation: cube-2-anim .8s .8s both;
    opacity: .5;
  }
  .cube-cnt-2,
  .cube-cnt-3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 5.33333rem;
    height: 1.2rem;
  }
  .cube-cnt-2 {
    animation: cube-cnt-1-anim 1.5s ease-in-out infinite alternate;
  }
  .cube-cnt-3 {
    animation: cube-cnt-2-anim 1s ease-in-out infinite alternate;
  }
  .text-title, .text-detail {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: .85333rem;
    color: #fff;
  }
  .text-title {
    margin-top: 9.38667rem;
    width: auto;
    height: auto;
    font-size: .45333rem;
    text-indent: 0;
    background: none;
  }
  .text-detail {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: .85333rem;
    color: #fff;
    margin-top: 10rem;
    font-size: .26667rem;
    line-height: 1.8;
  }
  .logo-jd {
    width: 1.61333rem;
    height: .32rem;
    //background-image: url(../images/sprite.other.png);
    background-position: -1.38667rem 0;
    bottom: 0;
    //text-indent: -133.32rem;
    margin-bottom: .8rem;
    -webkit-background-size: 14.56rem 4.64rem;
    background-size: 14.56rem 4.64rem;
    color: #fff;
  }
}
